In [ ]:
# 长线资本
# 230023       262
# 230009       183
# 2005496       23
# 220024        22
# 220008        19
# 230012        18
# 220220        17
# 230018        16
# 2371417       14
# 2271329       12
# 2305139       12
# 2371362       11
# 2005406       11
# 210017        11
# 230026         6
# 220025         6
# 160982         6
# 2105470        6
# 198196         5
# 173702         4
# 2305375        4
# 230205         4
# 2371321        4
# 232280007      4
# 2371025        4
# ...
# 2305645        1
# 230008         1
# 2305880        1

In [56]:
# Display all the columns 
sql = """
select *
from  dpa.cbt_dl_dtl
where txn_dt >= '2023-10-01' and txn_dt <= '2023-12-31'
    and (byr_instn_cn_full_nm like '%长线资本%' or slr_instn_cn_full_nm like '%长线资本%')
    and trdng_md_cd = 'NDM'
limit 30000
"""
df_trade = pg_select(sql)
pd.set_option("display.max_columns", None)
print(df_trade.shape)

(484, 146)

In [57]:
df_trade['bond_cd'].unique()

array(['230009', '230023', '230018', '230012', '230210', '230026',
       '2305375', '198196', '2005496', '2371321', '2005406', '2371362',
       '2205376', '220220', '2371417', '102300549', '2305139', '173702',
       '2371388', '2371374', '2271329', '160982', '2371025', '2305621',
       '2371043'], dtype=object)